{% extends '@Site/loyaut.html.twig' %}

{% block info %}
<p class="no-otstup">Подробную информацию вы можете получить из корпоративной википедии, вот по этой
    <a href="http://wiki.teamexpert.tk/index.php/%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0_wiki.teamExpert">ссылке</a>
</p>
    
{% endblock %}

{% block content %}
    <h3 class="m-b-2">Добро пожаловать дорогой друг! Узнайте как мы работаем.</h3>
    <p>Нашу организационную структуру можно условно разделить на два лагеря. Активное сообщество - это менеджеры, и
        администрация и пассивное сообщество - это специалисты всех мастей.
    </p>
    <p>В основу угла нашей работы ставится удовлетворение клиента, мы делаем все чтобы клиент остался доволен нашей
        системой, но учитываем также свои интересы.</p>
    <p>Мы декларируем себя как специалисты высокого класса каждый в своей области. Кто-то хорошо рисует, кто-то
        верстает, а кто-то благополучно пишет красивый код, всё сразу делать очень тяжело и наверное невозможно. Имеется
        факт, что многие современные системы состоят из большого количества компонентов при их создании. Грамотный
        дизайн нужен чтобы покупатель нашел то что искал и нажал на нужную кнопку. Грамотная верстка нужна чтобы наш
        любимый покупатель мог просмотреть наш ресурс на разных девайсах. Нужен грамотный бекенд программист, который
        сделает качественный код и все будет работать стабильно и красиво. Тестировщик должен убедиться, что на всех
        предыдущих этапах не было ошибок. Контент менеджер должен внести свой текст правильно заполнив все необходимые
        поля, чтобы это еще и удовлетворяло специалиста по сео оптимизации. Нужны разные люди, мы формируем эти разные
        команды.
    </p>
    <p>Одним из приоритетов нашей команды является "Свобода", ради нее мы и затеяли всю эту деятельность. Здесь нет
        рамок, никто никому ничего не должен, и может находиться там где ему вздумается и делать то что захочет, главное
        делать это очень профессионально. Для того чтобы работать с нами нужно внести свои данные в систему. Это
        необходимо для того чтобы активная часть
        сообщества могла вас найти вас как специалиста. Для этого вам нужно заполнить нашу анкету.
    </p>
    <p>
        С этого момента вы уже сможете участвовать в разрабатываемых нами проекты.
    </p>
    <p>
        При возникновении в проекте работы, которую вы делаете хорошо, с вами свяжется менеджер ведущий проект. Он
        запросит на сколько вы свободны и предложить сделать ту или иную работу по нашему внутреннему прайс-листу,
        который всегда доступен внутри нашей системы, постоянно обновляется редактируется и уточняется путем голосования
        специалистов данной области.
    </p>
    <p>
        Вы можете согласиться или отказаться от выполнения предложенных работ. На этапе выполнения работ вы всего лишь
        должны соблюдать кодекс нашего сообщества и руководствоваться правилами работ при выполнении заказа.
    </p>
    <p>
        Если вы успешно выполнили поставленную работу в установленные сроки мы автоматически повышаем ваш рейтинг,
        который напрямую зависит от соблюдения срока работ и качества работ которые мы проверяем после работы. Мы
        безусловно будем задавать самые высоки стандарты и требования к качеству работ которые мы вам поручаем, в
        результате вы станете более профессиональным и востребованным человеком. Так же от в зависимости от этих
        факторов мы можем повышать вашу часовую ставку. В результате вы будете работать меньше, качественнее и быстрее
        но при этом получать больший доход. Если вы начинающий специалист на этапах разработки мы можем уделить вам
        больше времени, вы всегда сможете получить консультацию в центре компенсаций и повысить свой уровень. Таким
        образом специалисты разных уровней будут востребованы в нашей системе и заняты на столько на сколько им
        позволяет их собственные убеждения желание и время - это мы и называем свободой.
    </p>
    <p>
        Вы можете встать на любую сторону силы! Если вы работает во фрилансе, то наверняка у вас есть уже свои
        наработанные годами заказчики, Но там есть каике-то работы которые например вам не подходят по профилю, или вы
        не можете сделать их из за занятости. Мы говорим не стоит отказываться от этой работы. В нашей системе всегда
        есть люди готовые сделать эту работу качественно и красиво в нужные сроки. В этот момент вы можете стать
        менеджером и провести заказ по всем этапам и заработаете свои интересные премиальные, а можете просто отдать
        заказ менеджеру которому вы доверяете и просто получить свой бонус. К вашим услугам интерактивный сбор команды,
        информационная база нашей организации, большой форум и куча специалистов нужного профиля и центр компетенций.
    </p>

    <p>
        При желании очень в скором будущем если вы докажете что вы компетентны в чем либо, мы надеемся что сможем вам
        предоставить географическую свободу и свободу выбора. Именно с этой целью создается данный проект.
    </p>
    <p>
        Также, хочу сказать, данную систему всегда хочется сделать лучше и эффективнее, ускорить темпы ее развития, у
        нас огромное количество общественно полезной работы, которую мы делаем для самих себя. Если у вас есть желание
        как то помочь развитию теперь и вашей системы вы можете выполнять свободные тикеты (они же задачи) на нашей
        доске задач.
    </p>
    <p>
        Наиболее активные члены выполняющие общественно полезные задачи повышают свой рейтинг и как следствие свой
        заработок.
    </p>

{% endblock %}

