{% extends '@Site/loyaut.html.twig' %}

{% block info %}

{% endblock %}

{% block content %}

    <h3 class="m-b-3">Оказываемые услуги</h3>

    <div class="col-xs-12 col-sm-6">

        <h5><i class="fa fa-briefcase"></i> Фирменный стиль</h5>

        <p>Разработка и доработка логотипов, элементов фирменного стиля. Создание узнаваемого потребителями, визуального
            образа компании.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-pencil"></i> Графический дизайн</h5>

        <p>Создание гармоничных и эффективных дизайнерских решений и комплексное решения поставленных маркетинговых
            задач.
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-desktop"></i> Веб-разработка</h5>

        <p>
            Проектирование, создание и разработка сайтов любой сложности. Настройка CRM и ERP систем, интеграция с 1С,
            системами учета и аналитики.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-shopping-basket" aria-hidden="true"></i> Электронная коммерция</h5>

        <p>
            Интернет-магазины. Настройка он-лайн оплат и торговых транзакций, осуществляемых на сайте, учет
            бизнес-процессов, связанных с проведением таких транзакций.
        </p>
    </div>

    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-mobile" aria-hidden="true"></i> Мобильные приложения</h5>

        <p>
            Разработка мобильных приложений любой сложности для iOs и Android. Разработка интерфейсов приложений.
            Публикация в App Store и Play Market.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Продвижение и SMM</h5>

        <p>
            родвижение сайтов, разработка рекламных кампаний в интернете, раскрутка брендов в социальных медиа.
        </p>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-file-text-o" aria-hidden="true"></i> Разработка маркетинг-китов</h5>

        <p>
            Комплект маркетинговых материалов для презентации товаров или услуг потенциальным клиентам компании.
            Дизайн продающих каталогов.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h5><i class="fa fa-line-chart" aria-hidden="true"></i></i> Бизнес консалтинг</h5>

        <p>
            Комплексные консультационные по вопросам организации и продвижения бизнеса в интернете
        </p>
    </div>







{% endblock %}

