{% extends '@Site/loyaut.html.twig' %}

{% block info %}

{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <img class="p-a-1" src="{{ asset('bundles/site/images/makhost.gif') }}" alt="makhost">

        <p>Компания Макхост входит в десятку крупнейших российских хостинг-провайдеров и предоставляет широкий спектр
            качественных хостинг услуг с 2004 года.
        </p>
        <ul>
            <li><a href="https://mchost.ru/services/virtual-hosting/?referer=599969416 ">Аренда Виртуальной машины</a>
            </li>
            <li><a href="https://mchost.ru/services/cms-hosting/?referer=599969416">Хостинг для CMS</a></li>
            <li><a href="https://mchost.ru/services/linux-vps/?referer=599969416">VPS хостинг</a></li>
        </ul>
        <hr>


        <img class="p-a-1" src="{{ asset('bundles/site/images/b2.png') }}" alt="Fozzy">

        <p>Fozzy — компания, созданная профессионалами хостинг-индустрии, в рамках холдинга XBT - одного из мировых
            лидеров физического хостинга, представленного по всему миру — США, Нидерланды, Люксембург, Сингапур, Индия.
            Общая пропускная способность каналов холдинга — более 1 Терабита. Среди клиентов холдинга крупнейшие биржи
            Forex, платежные системы, известные интернет-порталы.
        </p>
        <ul>
            <li><a href="https://accounts.fozzy.com/aff.php?aff=3746">Заказать хостинг</a></li>
        </ul>
        <hr>

        <img class="p-a-1" src="{{ asset('bundles/site/images/1gb_logo_v2.gif') }}" alt="1gb.ru">

        <p>
            Наша специализация - виртуальный хостинг и виртуальные сервера. Мы гордимся качеством предоставляемых услуг,
            удобством работы, коллективом поддержки, который взаимодействует с нашими клиентами. Наша компания является
            одним из лидеров Российского рынка виртуального хостинга и лидером эффективного хостинга на платформе
            Microsoft.
        </p>
        <ul>
            <li><a href="http://www.1gb.ru/20ff7d09wrt">Заказать хостинг</a></li>
        </ul>


    </div>



{% endblock %}

