{% extends '@Site/loyaut.html.twig' %}

{% block info %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
{% for entity in entities %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="{{ path('showPortfolio', { 'id': entity.id }) }}">
                    <img class="img-fluid img-max img-rounded" src="{{ entity.smallImage }}" alt="ereport">
                    <small>{{ entity.name }}</small>
                </a>
            </div>
{% endfor %}

        </div>
    </div>


{% endblock %}

