<!DOCTYPE html>
<html>
{% include './parts/head.html.twig' %}
    <body>
    {% block menu %}
        {% include '@Erp/_layout_parts/menu.html.twig' %}
    {% endblock %}
    <div class="container">
        <div class="row">

            {% block body %}{% endblock %}


        </div>
    </div>


        {% include './parts/js.html.twig' %}
    </body>
</html>
