<!DOCTYPE html>
<html>
{% include './parts/head.html.twig' %}
    <body>
    {% block menu %}{% endblock %}
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>


        {% include './parts/js.html.twig' %}
    </body>
</html>
