{% extends '@FOSUser/layout.html.twig' %}

  {% block body %}
     {% block header %}
           {% include '@FOSUser/head.html.twig' %}
       {% endblock header %}


      {% block content %}



      {% endblock %}

      {% block footer %}


      {% endblock %}

           <div class="footer-fluid m-t-2">
                <div class="container">
                    <div class="row p-y-2">
                        {% include '@FOSUser/nav.html.twig' %}
                    </div>
                 </div>
            </div>



      {% include '@FOSUser/js.html.twig' %}

</body>
</html>
  {% endblock %}




