{% extends '@FOSUser/layout.html.twig' %}

  {% block body %}
     {% block header %}
           {% include '@FOSUser/head.html.twig' %}
       {% endblock header %}


      {% block content %}



      {% endblock %}

      {% block footer %}
       <div class="footer-fluid p-b-2 white">
            {% include '@FOSUser/nav.html.twig' %}
       </div>

      {% endblock %}


      {% include '@FOSUser/js.html.twig' %}

</body>
</html>
  {% endblock %}




