.bss {
	height: 300px;
	background: #131c51;
	background: -webkit-gradient(linear,left top,right top,color-stop(6%,#131c51),color-stop(23%,#183eaf),color-stop(40%,#152e68));
	background: -webkit-linear-gradient(left,#131c51 6%,#183eaf 23%,#152e68 40%);
	background: linear-gradient(to right,#131c51 6%,#183eaf 23%,#152e68 40%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131c51', endColorstr='#152e68', GradientType=1 );
}