{% extends '::start.html.twig' %}



{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-xs-center">Спасибо за уделенное время,
            <br>
            надеемся на долгосрочноесотрудничество</h1>

        <div class="col-xs-8 col-xs-offset-2 text-justify m-t-3">
            <p>
                Ваша анкета попала в нашу базу данных, в ближайшие часы за вами будет закреплен менеджер,
                он произведет оценку анкеты, и будет учитывать ваши способности при распределении заказов.
            </p>

            <p>Для дальнейшего сотрудничесва, мы рекомендуем вам ознакомиться с информацией как работает наша организация
                вот по этой <a href="http://teamexpert.tk/kak-my-rabotaem.html">ссылке</a>
            </p>
        </div>

    </div>
</div>



{% endblock %}
