/* line 38, ../../../src/sass/__base/part/common.sass */
h1, h2, h3, h4, h5 {
  font-family: RobotoRegular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 35px;
  color: #000066;
  margin-top: 40px;
}

/* line 44, ../../../src/sass/__base/part/common.sass */
h2 {
  font-size: 24px;
}

/* line 47, ../../../src/sass/__base/part/common.sass */
h3 {
  font-size: 20px;
}

/* line 50, ../../../src/sass/__base/part/common.sass */
h4 {
  font-size: 18px;
}

/* line 53, ../../../src/sass/__base/part/common.sass */
h5 {
  font-size: 23px;
}

/* line 57, ../../../src/sass/__base/part/common.sass */
body {
  font-family: RobotoRegular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #232323;
}

/* line 62, ../../../src/sass/__base/part/common.sass */
.description {
  text-align: justify;
}

/* line 66, ../../../src/sass/__base/part/common.sass */
.navigation a {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 73, ../../../src/sass/__base/part/common.sass */
.colors {
  background-color: #fff;
}

/* line 76, ../../../src/sass/__base/part/common.sass */
ul {
  padding: 0;
  margin: 0;
}
/* line 79, ../../../src/sass/__base/part/common.sass */
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

/* line 85, ../../../src/sass/__base/part/common.sass */
.right {
  float: right;
  padding: 10px 0;
}

/* line 89, ../../../src/sass/__base/part/common.sass */
.left {
  float: left;
  padding: 10px;
}

/* line 93, ../../../src/sass/__base/part/common.sass */
a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

/* line 96, ../../../src/sass/__base/part/common.sass */
table {
  width: 100%;
}
/* line 98, ../../../src/sass/__base/part/common.sass */
table th, table td {
  border: 1px solid #d8d8d8;
  background: #efefef;
  padding: 5px;
  text-align: center;
}
/* line 103, ../../../src/sass/__base/part/common.sass */
table td {
  text-align: left;
  background-color: #fff;
}

/* line 108, ../../../src/sass/__base/part/common.sass */
#myTable {
  width: 100% !important;
  max-width: 100% !important;
}

/* line 1, ../../../src/sass/__base/part/_button.sass */
.btn_primary, .btn_reverse {
  font-family: RobotoRegular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 15px;
  color: #3669BE;
  line-height: 15px;
  background: #fff;
  border: 1px solid #3669BE;
  padding: 9px 17px;
}

/* line 10, ../../../src/sass/__base/part/_button.sass */
.btn_reverse {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

/* line 16, ../../../src/sass/__base/part/_button.sass */
.btn_primary:hover, .btn_reverse:hover {
  background: #3669BE;
  color: #fff;
  border: 1px solid #3669BE;
}

/* line 21, ../../../src/sass/__base/part/_button.sass */
.btn_darck, .btn_darck_2 {
  font-family: RobotoRegular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 15px;
  background: #3669BE;
  border: 2px solid #3669BE;
  padding: 13px 27px;
}

/* line 30, ../../../src/sass/__base/part/_button.sass */
.btn_darck_2 {
  padding: 11px 18px;
}

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lato-fontfacekit/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-fontfacekit/Lato-Reg-webfont.woff") format("woff"), url("../fonts/lato-fontfacekit/Lato-Reg-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "LatoItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lato-fontfacekit/Lato-RegIta-webfontt.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-fontfacekit/Lato-RegIta-webfontt.woff") format("woff"), url("../fonts/lato-fontfacekit/Lato-RegIta-webfontt.ttf") format("truetype");
}
@font-face {
  font-family: "Latobold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lato-fontfacekit/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-fontfacekit/Lato-Bol-webfont.woff") format("woff"), url("../fonts/lato-fontfacekit/Lato-Bol-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "LeagueGothic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LeagueGothic/LeagueGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothic/LeagueGothic.woff") format("woff"), url("../fonts/LeagueGothic/LeagueGothic.ttf") format("truetype");
}
@font-face {
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
}
