{% extends '@Site/loyautportfolio.html.twig' %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="bss">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="white text-xs-center p-t-3">Сайт под ключ для <br>ООО "Балтспецсервис"</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">
                    <b>Клиент</b><br>
                    <p>ООО "Балтспецсервис"</p><br>

                    <b>Задача</b><br>
                    <p>Адаптивная верстка сайта, привязка сайта к Системе управления контентом DLE</p>

                </div>
                <div class="row">
                    <img class="img-fluid img-rounded" src="{{ asset('bundles/site/images/bs1.png') }}" alt="Балт Спец Сервис">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

