{% extends '@Site/loyautportfolio.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="ereport">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="white text-xs-center p-t-3">Система Электронной отчетности E Report</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">
                    <b>Клиент</b><br>
                    <p>Компания Интеко Системс</p><br>

                    <b>Задача</b><br>
                    <p>
                        Создание системы электронной отчетности, для клиентов Интеко Системс.
                        Создан дизайн, верстка, привзка к темплейтам twig. Непосредственно спланированнна и разработана
                        система на основе фреймворка symfony2.
                    </p>
                    <p>  Особенности стартовой страницы - горизонтальная прокрутка содержимого, многоуровлевая навигация,
                        анимация содержимого при помощи jquery и бибилиотеки lazy line painer.
                        Система позволяет клиентам здавать отчеты в Государственную Налоговую Инспекцию,
                        Социальный Фонд и Статистический коммитет.
                    </p>
                    </p>
                        Использовались технологии: sass/scss, bootstrap4, jquery2, simfony 2.7, gulp, font awesome, lazy line painer git.
                    </p>

                    <b>Работу выполнил</b>
                    <p>Евгений Бондаренко</p>

                </div>
            </div>
            <div class="container">
                <div class="row">

                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/ereport/1.png') }}" alt="Ereport">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/ereport/2.png') }}" alt="Ereport">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/ereport/3.png') }}" alt="Ereport">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/ereport/4.png') }}" alt="Ereport">


                </div>
            </div>
        </div>
    </div>


{% endblock %}

