{% extends '@Site/loyautportfolio.html.twig' %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="se">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="text-xs-center p-t-3">Разработка сайта для <br> Компании "Сценарный Эксперт"</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">

                    <b>Задача</b><br>
                    <p>
                        Дизайн, сборка сайта и привязка сайта к системе управления контентом Wordpress. Написание
                        платежного модуля интегрированного с робокассой

                    </p>

                    <b>Работу выполнил</b>
                    <p>Евгений Бондаренко</p>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/se.png') }}" alt="Сценарный Эксперт">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

