{% extends '@Site/loyautportfolio.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="tandem">
                <div class="container">
                    <div class="row p-t-3">
                        <h1 class="white text-xs-center p-t-3">Магазин продуктов Тандем</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-y-2">

                    <b>Информация</b><br>
                    <p>
                       Тандем это магазин продуктов. Осуществлена верстка и интеграция верстки в систему контроля контента Opencart.
                        Подключена платежная система Робокасса.
                    </p>

                    </p>
                    Использовались технологии: sass/scss, jquery2, gulp, git, Система контроля контента Opencart.
                    </p>

                    <b>Работу выполнил</b>
                    <p>Евгений Бондаренко</p>

                </div>
            </div>
            <div class="container">
                <div class="row">

                    <img class="img-fluid ma" src="{{ asset('bundles/site/images/tandem.png') }}" alt="tandem">



                </div>
            </div>
        </div>
    </div>


{% endblock %}

