{% extends '@Erp/layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <h1>ProjectCommand creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('projectcommand') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
