<ul class="list-unstyled">
    <li><a class="hover-text-decoration-none" href="#">Наша Команда</a></li>
    <li><a class="hover-text-decoration-none" href="#">Клиентам</a></li>
    <li><a class="hover-text-decoration-none" href="#">Портфолио</a></li>
    <li><a class="hover-text-decoration-none" href="#">Партнеры</a></li>
    <li><a class="hover-text-decoration-none" href="#">Блог</a></li>
    <li><a class="hover-text-decoration-none" href="#">Коллегам</a></li>
</ul>