/* line 38, ../../../../src/sass/__base/part/common.sass */
h1, h2, h3, h4, h5 {
  font-family: RobotoRegular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 35px;
  color: #000066;
  margin-top: 40px;
}

/* line 44, ../../../../src/sass/__base/part/common.sass */
h2 {
  font-size: 24px;
}

/* line 47, ../../../../src/sass/__base/part/common.sass */
h3 {
  font-size: 20px;
}

/* line 50, ../../../../src/sass/__base/part/common.sass */
h4 {
  font-size: 18px;
}

/* line 53, ../../../../src/sass/__base/part/common.sass */
h5 {
  font-size: 23px;
}

/* line 57, ../../../../src/sass/__base/part/common.sass */
body {
  font-family: RobotoRegular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #232323;
}

/* line 62, ../../../../src/sass/__base/part/common.sass */
.description {
  text-align: justify;
}

/* line 66, ../../../../src/sass/__base/part/common.sass */
.navigation a {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 73, ../../../../src/sass/__base/part/common.sass */
.colors {
  background-color: #fff;
}

/* line 76, ../../../../src/sass/__base/part/common.sass */
ul {
  padding: 0;
  margin: 0;
}
/* line 79, ../../../../src/sass/__base/part/common.sass */
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

/* line 85, ../../../../src/sass/__base/part/common.sass */
.right {
  float: right;
  padding: 10px 0;
}

/* line 89, ../../../../src/sass/__base/part/common.sass */
.left {
  float: left;
  padding: 10px;
}

/* line 93, ../../../../src/sass/__base/part/common.sass */
a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

/* line 96, ../../../../src/sass/__base/part/common.sass */
table {
  width: 100%;
}
/* line 98, ../../../../src/sass/__base/part/common.sass */
table th, table td {
  border: 1px solid #d8d8d8;
  background: #efefef;
  padding: 5px;
  text-align: center;
}
/* line 103, ../../../../src/sass/__base/part/common.sass */
table td {
  text-align: left;
  background-color: #fff;
}

/* line 108, ../../../../src/sass/__base/part/common.sass */
#myTable {
  width: 100% !important;
  max-width: 100% !important;
}
