$base-color: #2a3246

body
	font-size: 1rem
	line-height: 1.25rem
	color: #5E7B8F
	p
		text-indent: 1rem
p.no-otstup
	text-indent: 0rem

.header
	background-color: $base-color
	a
		&:hover
		color: $white


.footer
	background-color: $base-color
	position: fixed
	width: 100%
	bottom: 0
	left: 0

.footer-fluid
	background-color: $base-color
	position: relative
	width: 100%
	bottom: 0
	left: 0
	a
		color: $white
	
.main
	margin-bottom: 300px
	li
		margin-bottom: .5rem
		a
			color: #2a3246
			border-bottom: 1px solid #2a3246