// Секция работы с проектами

.name
	padding: 5px 10px
	width: 100%
	margin-bottom: 20px

input,select
	padding: 5px 10px
	margin: 5px 10px

.cke
	margin-bottom: 40px !important
.select
	padding: 5px 10px
	margin: 5px 10px

#erpbundle_issue_issueName
	width: 100%
	padding: 5px 10px
	margin: 5px 0px
	height: 34px




.right
	li
		padding: 0
		a
			display: block
			background-color: $dark-blue
			color: $white
			padding: 5px 20px
			border-radius: 3px

//.record_actions li a
//	display: block
//	background-color: $dark-blue
//	color: $white
//	padding: 5px 20px
//	margin: 10px
//	border-radius: 3px



label
	font-weight: 400
	font-style: italic


.clear
	clear: both
	display: table


.actions
	width: 80px !important