// Секция работы с проектами

.name
	padding: 5px 10px
	width: 100%
	margin-bottom: 20px

input,select
	padding: 5px 10px
	margin: 5px 10px

.cke
	margin-bottom: 40px !important
.select
	padding: 5px 10px
	margin: 5px 10px
